{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/friendlist.css' %}">
{% endblock %}
{% block title %}Друзья{% endblock %}

{% block content %}
{% if friends %}
<div class="friend_box">
    <div class="title_h">
        <h2 class="requests_h1" id="req_h1">Список Друзей</h2>
        <button class="btn_request_h1" id="btn_h1">Список Друзей</button>
        <button class="btn_request_h2" id="btn_h2">Запросы в друзья </button>
        <h2 class="requests_h2" id="req_h2">Запросы в друзья</h2>
    </div>
        {% for friend in friends %}

            <div  class="friendlist_item">
                <img src="{{ friend.avatar.url }}" class="friend-avatar">
                <a class="friend_name" href="{% url 'profile' friend.id %}">{{ friend.full_name }}</a>
                <a class="button_write" href="{% url 'open-dialog' friend.id %}">Написать сообщение</a>
            </div>

        {% endfor %}
        {% for inviter in friend_inviters %}

            <div  class="friendrequest_item">
                <img src="{{ inviter.avatar.url }}" class="friend-avatar">
                <a class="friend_name" href="{% url 'profile' inviter.id %}">{{ inviter.full_name }}</a>
                <a class="button_write" href="{% url 'add-friend' inviter.id%}">Принять</a>
            </div>

        {% endfor %}
</div>
{% elif profile.id != self_profile.id %}
            <div class="zero_bookmarks">
            <p class="alarm_posts">У этого пользователя нет друзей :c </p>
            </div>
{% else %}
            <div class="zero_bookmarks">
            <p class="alarm_posts">У Вас еще нет друзей :c </p>
            <a class="btn_add" href="{% url 'home' %}">Вернуться на главную</a>
            </div>
{% endif %}
{% endblock %}
{% block js %}
<script src="{% static '/js/friendlist.js' %}"></script>
{% endblock %}