
<div class = "profile-card">
    <div class = "profile-pic"></div>
    <h3 class = "user-nickname">Nickname</h3>
    <p class = "user-info">About user</p>
</div>
    
<style>
    	.profile-card {
    		width: 400px;
    		height: 700px;
    		
    		background: #000;
    		box-shadow: 0px 4px 4px #8270F2;
    		border-radius: 50px;
    		padding-top:67px;
    	}
    	
    	.profile-pic {
    		width: 198px;
    		height: 198px;
    		margin-left:101px;
    		
    		background: url("https://i.pinimg.com/236x/66/1e/ce/661ece4c9340138ac3a170db0d86f25f.jpg");
    		border: 2px solid #000;
    		border-radius: 100%
    	}
    	
    	.user-nickname {
    		display: box;
    		width: 278px;
    		height:35px;
    		
    		margin-left:61px;
    		text-align:center;
    		
    		background: #fff;
    		border: 2px solid #000;
    		border-radius: 16px;
    		padding-top: 15px;	
    	}
    	
    	.user-info {
    		display: box;
    	
    		width: 278px;
    		height: 154px;
    		margin-left: 61px;
    		margin-top: 73px;
    		
    		padding-top:20px;
    		text-align:center;
    		
    		background: #fff;
    		border: 2px solid #000;
    		border-radius: 12px;
    		
    	}
</style>

