{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static '/css/reg-log.css' %}">{% endblock %}
{% block title %}Авторизация{% endblock %}

{% block content %}

    <div class="reg_box">

        <div class="text_box_rules">
            <h2 class="rules_head">Правила программистического клуба</h2>
            <p class="rules">
            <ul>
                <li>Первое правило программистического клуба - никогда не упоминать об программистическом клубе</li>
                <li>Второе правило программистического клуба - ни за что не упоминать об программистическом клубе</li>
                <li>Третье правило программистического клуба - если девелопер крикнул "КОММИТ", выдохся или сделал пуш,
                    проект закончен.</li>
                <li>Четвертое правило программистического клуба - в программирование участвуют лишь двое.</li>
                <li>Пятое правило программистического клуба - комиты идут одни за другим, а не одновременно.</li>
                <li>Шестое правило программистического клуба - не писать больше 1 строчки кода.</li>
                <li>Седьмое правило программистического клуба - прогать надо столько, сколько нужно.</li>
                <li>Восьмое и последнее правило программистического клуба - тот, кто нашел баг, должен дебагать весь
                    код.</li>
            </ul>

            </p>
        </div>

        <div class="input_form">
            <h1 class="reg-header">Авторизация</h1><br>
            <!-- <div>Message: "{{ message }}"</div> -->
            <form method="POST" class="form-reg">
                {% csrf_token %}
                {% for field in form %}
                <p>{{ field }}</p>
                <div class="form-error">{{ field.errors }}</div>
                {% endfor %}
                {% if message %}
                <p class="form-error">{{ message }}</p>
                {% endif %}

                <button type="submit" class="btn_add">Войти</button>

            </form>
            <a class="auth-link" href="{% url 'registration' %}">Нет аккаунта?</a>
        </div>
    </div>


{% endblock %}