{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/chat.css' %}">
<link rel="stylesheet" href="{% static '/css/friendlist.css' %}">
{% endblock %}
{% block title %}Информация о чате{% endblock %}

{% block content %}
<div class="container">
    <h1 class="chat-info-title">Инфо</h1>
    <h2 class="chat-name">Название: {{ chat_name }}</h2>
    <div class="members" id="members">
        <label for="members">Участники ({{ members_count }}):</label>
        {% for member in members %}
            <div  class="friendlist_item">
                <img src="{{ member.avatar.url }}" class="friend-avatar">
                <a class="friend_name" href="{% url 'profile' member.id %}">{{ member.name }} {{member.surname}}</a>
                <span class="friend_name">{{ member.access_description }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="members" id="banned">
        <label for="banned">Заблокированы ({{ banned_count }}):</label>
        {% for member in banned %}
            <div  class="friendlist_item">
                <img src="{{ member.avatar.url }}" class="friend-avatar">
                <a class="friend_name" href="{% url 'profile' member.id %}">{{ member.name }} {{member.surname}}</a>
                <span class="friend_name">{{ member.access_description }}</span>
            </div>
        {% endfor %}
    </div>
    <br>
    <a class="btn-save" href="{% url 'multychat-settings' chat_id%}">Изменить</a>
    <a class="btn-discard" href="{% url 'leave-chat' chat_id %}">Покинуть чат</a>
</div>
<style>
    .container {
        display: block;
        height: 80%;
        width: 80%;
        color: white;
        background-color: black;
        border: solid 2px #8270F2;
        border-radius: 20px;
        padding: 3rem;
        margin: auto;
        margin-top: 5%;
    }
    .chat-info-title{
        text-align: center;
        color: #8270F2;
    }
    .btn-save {
    color: white;
    background-color: black;
    border: solid 2px #8270F2;
    border-radius: 20px;
    padding: 1rem;
	width: 10em;
	font-size: large;
	cursor: pointer;
}
.btn-discard{
	color: black;
    background-color: #8270F2;
    border: solid 2px #5a4daf;
    border-radius: 20px;
    padding: 1rem;
	width: 10em;
	font-size: large;
	cursor: pointer;
}
</style>
{% endblock %}

{% block js %}
<script src="{% static '/js/chat.js' %}"></script>
{% endblock %}