{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static '/css/find_friends.css' %}">{% endblock %}
{% block title %}Мессенджер{% endblock %}

{% block content %}

<div class="messenger_box" id="messenger_box">
    <h2 style="text-align:center;"> Chats </h2>
    <div class="ur_friend" >
        <img src="https://kartinkin.net/uploads/posts/2022-09/1662466112_48-kartinkin-net-p-tailer-derden-art-instagram-48.jpg" class="friend-user-pic">
        <p>Tyler Durden</p>
    </div>
<div class="messenger_contener">
<div class="message">


    <div class="chat_texts">
    <div class="timestamp"><h2>Tyler Durden</h2><p class="time">12 : 50</p></div>
    <h3> Emergency exit 30.000 feet aboce the sea level, is just illusion of safety...</h3>
    </div>

</div>

<div class="message_own">


    <div class="chat_texts">
        <div class="timestamp"><p class="time">12 : 59</p><h2>Speaker (you)</h2></div>
    <h3>Ye, sure</h3>
    </div>

</div>

    <div class="message">


    <div class="chat_texts">
        <div class="timestamp"><h2>Tyler Durden</h2><p class="time">12 : 59</p></div>
    <h3>Do you know what oxygen masks are for?</h3>
    </div>

</div>

    <div class="message_own">


    <div class="chat_texts">
        <div class="timestamp"><p class="time">12 : 59</p><h2>Speaker (you)</h2></div>
    <h3>To breath.</h3>
    </div>

</div>

    <div class="message">


    <div class="chat_texts">
    <div class="timestamp"><h2>Tyler Durden</h2><p class="time">12 : 50</p></div>
    <h3>Oxygen is intoxicating. In catastrophic situations, you panic and suddenly euphoria, peace, and you humble yourself. Here is the drawing. Emergency landing, and serenity on their faces, like cows in India.</h3>
    </div>
</div>
</div>
<div class="input-area-mess">
 <textarea placeholder="Type a message" class="message_area"></textarea>
 <button class="btn_message">Send</button>
</div>
</div>

{% endblock %}