.container {
    display: block;
    height: 80%;
    width: 80%;
    color: white;
    background-color: black;
    border: solid 2px #8270F2;
    border-radius: 20px;
    padding: 3rem;
    margin: auto;
    margin-top: 5%;
}
.chat-info-title{
    text-align: center;
    color: #8270F2;
}
.btn-save, .btn-discard {
    color: white;
    background-color: black;
    border: solid 2px #8270F2;
    border-radius: 20px;
    padding: 0.8rem;
}
.friendlist_item{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
    background-color: black;
    border: 1px solid #8270F2;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px #8270F2;
}

.friend-avatar{
    margin-left: 2%;
    width: 10%;
    border-radius: 100%;
}

.friend_name{
    color: white;
    width: 20%;
    text-align: center;
}