    .search-wrapper {
        box-sizing: border-box;
        position: absolute;
        width: 1035px;
        height: 808px;
        left: 516px;
        top: 139px;
        background: rgba(0, 0, 0, 0.85);
        border: 5px solid #000000;
        box-shadow: 0px 4px 4px #8270F2;
        border-radius: 14px;
    }

    .search-id-input {
        box-sizing: border-box;
        background-color: black;
        color: white;
        font-size: 40px;
        padding: 30px;
        width: 643px;
        height: 73px;
        margin-left: 19%;
        margin-top: 5%;
        border: 2px solid #FFFFFF;
        border-radius: 36.5px;
    }

    .search-id-input::placeholder {
        color: white;
    }

    .search-user-id-input {
        box-sizing: border-box;
        background-color: black;
        color: white;
        font-size: 40px;
        padding: 30px;
        width: 643px;
        height: 73px;
        margin-left: 19%;
        border: 2px solid #FFFFFF;
        border-radius: 36.5px;
        padding: 10px;
        padding-left: 20px;
    }

    .ur-id-search {
        color: white;
        margin-left: 20%;
        font-size: 30px;
    }

    .user-card-search {
        width: 400px;
        height: 419px;
        margin-left: 30%;
        margin-top: 16px;
        background: #000000;
        border: 1px solid #FFFFFF;
        border-radius: 50px;
    }

    .profile-pic-search {
        width: 119px;
        height: 119px;
        margin-left: 140px;
        margin-top: 20px;
        margin-bottom: -20px;
        background: url(image.png);
        border-radius: 360px;
        border-color: white;
        border-width: 1px;
        border-style: solid;
    }

    .nickname-search {
        box-sizing: border-box;
        margin-left: 60px;
        width: 278px;
        height: 49px;
        text-align: center;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 16px;
        padding-top: 15px;
    }

    .info-search {
        box-sizing: border-box;
        margin-left: 60px;
        padding-top: 20px;
        width: 278px;
        text-align: center;
        height: 174px;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 12px;
    }