/* Content */
.content{
    width: 90%;
    display:inline-block;
    margin-left: 10%;
    margin-top: 100px;
}
/* Огромный жирный блок для профилей */
.profile_box{
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 15%;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px #8270F2;
    border-radius: 50px;
    padding: 50px 0;
}
/* main end*/

/* MAIN_PAGE (HOME)*/
.main_page{
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top:7vh;
    margin-bottom:7vh;
}

/* Специально для профиля */
.main_page_for_prf{
    display: flex;
    width: 813px;
    justify-content: center;
    height: 1119px;
    border-radius: 5px;
    margin-bottom: 100px;
    padding-top: 1px;
}


/*main page END*/

/* POST_TEMPLATE_CSS*/

.post-box {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 37px;
    overflow: hidden;
    width: 65%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 10px 10px #8270f2;
}

.post-header {
width: 100%;
display: flex;
justify-content: space-between;
align-items:center;
background: rgba(0, 0, 0, 0.75);
border-bottom: solid 3px #8270F2;
border-radius: 37px 37px 0px 0px;
}

.post-name {
color: white;
margin-left:5%;
}

.post-author {
color: white;
margin-right: 4%;
margin-top: 3%;
cursor: pointer;
text-decoration: none;
}

.text-wrap {
display: inline-flex;
justify-content: space-between;
margin-top: 2%;
width: 100%;
margin-bottom: 2%;
}

.post-bookmark {
color: white;
font-size: 40px;
margin: 5px;
}

.img-marks {
background-image: url("https://cdn-icons-png.flaticon.com/512/58/58516.png");
width: 38px;
height: 38px;
background-size: contain;
background-repeat: no-repeat;
margin-top: 18px;
cursor: pointer;
}

.post-text {
    background: black;
    border: solid 1px white;
    color: white;
    width: 90%;
    border-radius: 14px;
    margin-left: 3%;
    padding: 2%;
}

.post-image {
    width: 90%;
    height: 400px;
    margin-left: 5%;
    background: url(https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png);
    background-size: cover;
    border: solid 1px white;
    border-radius: 27px;
    margin-bottom: 4%;
}
/* Post template END*/

/* Profile-card */
.profile-card {
    position: fixed;
    right: 1%;
    width: 15%;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px #8270F2;
    border-radius: 50px;
    padding: 50px 0;
    transform: translateY(-50%);
    top: 50%;
}

.profile-pic {
    width: 50%;
    margin: 0 25%;
    background: url("https://i.pinimg.com/236x/66/1e/ce/661ece4c9340138ac3a170db0d86f25f.jpg");
    border-radius: 100%;
    box-shadow: 0px 0px 30px #8270f2;
}

.user-nickname {
    display: box;
    width: 70%;
    margin: 10px 15%;
    text-align:center;
    background: #fff;
    border-radius: 16px;
    padding: 15px 0;
}

.user-info {
    display: box;
    width: 70%;
    margin: 10px 15%;
    height: 154px;
    padding: 15px 0;
    text-align:center;
    background: #fff;
    border-radius: 12px;
}

.btn {
    width: 328px;
    height: 32px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #fff;
    text-align: center;
    margin-left: 36px;
    margin-top: 20px;
    padding-top: 5px;
}

.btn:hover ~ .profile-card-more{
    display:block;
}

.profile-card-more{
    width: 400px;
    height: 900px;
    background: #000;
    box-shadow: 0px 4px 4px #8270F2;
    border-radius: 50px;
    padding-top:67px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -965px;
    display:none;
    z-index:1;

}

.form-add-post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* POSTS */
.comment-box{
    color:white;
    width:90%;
    margin-left:20px;
}

.round{
    width:22px;
    height:22px;
    border-radius:100%;
    margin-right:10px;
    margin-left:10px;

}

.heart{
    background-color: #FD5754;
}

.zakladka{
    background-color: #36C849;
}

.open{
    background-color: #FEBB40;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: all 0.5s;
}
.heart:hover{
    background-color: #FD5754;
    background-image: url("/media/images/heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 14px 14px;
}

.zakladka:hover{
    background-color: #36C849;
}

.open:hover .arrow_diff{
    background-color: #FEBB40;
    display: block;
}
.open:hover .arrow{
    background-color: #FEBB40;
    display: block;
}

.btn_box_post{
    display:flex;
    width:130px;
    margin-left:2%;
}
.arrow {

    display: none;
    width: 4px;
    height: 4px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    position: relative;
    left: 6px;
    bottom: 3px;
}
.arrow_diff {
    display: none;
    width: 4px;
    height: 4px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    position: relative;
    right: 6px;
    top: 3px;
    transform: rotate(180deg);
}