{% extends 'base.html' %}

{% block title %}Новый пост{% endblock %}

{% block content %}
	<div class = "post-workspace">
		<div class = "new-post-header">
			<button class = "btn_post" form="new-post-form">Добавить запись</button>
		</div>
		<div class = "new-post-text-img">
			<form method="POST" id="new-post-form" class="form-add-post">
				{% csrf_token %}
                {% for f in form %}
				{{f}}
				{% endfor %}
				<div class="input-file-row" id = "box-img">
						<label class="input-file" id = "add_btn">
						<input type="file" name="file[]" multiple accept="image/*">
						<span>Выберите Изображение</span>
						</label>
					<div class="input-file-list">
					</div>
				</div>
			</form>
		</div>
	</div>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}