{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="..\static\images\kvlogo.png" />
</head>
<body>
<header>
    <div class = "header_menu">
        <a href = "{% url 'home' %}" class = "logo_h">
            <img src = "..\static\images\logo.png" class = "logo_h" alt = "Home Page">
        </a>

    </div>
</header>
<div class = "navigation">
    <div  class = "side_menu">
        <div id = "prof" class = "side_icon">
            <a class = "hr" href = "{% url 'self-profile' %}">
                <i class="fa-regular fa-user icona"></i>
            </a>
        </div>
        <div  id = "mes" class = "side_icon">
            <a class = "hr" href = "{% url 'chat-list' %}">
                <i class="fa-regular fa-comment-dots icona"></i>
            </a>
        </div>
        <div  id = "set" class = "side_icon">
            <a class = "hr" href = "{% url 'setting' %}">
                <i class="fa-solid fa-gear icona"></i>
            </a>
        </div>
        <div id = "glob" class = "side_icon">
            <a class = "hr" href = "{% url 'home' %}">
                <i class="fa-solid fa-globe icona"></i>
            </a>
        </div>
        <div  id = "book" class = "side_icon">
            <a class = "hr" href = "{% url 'bookmarks' %}">
                <i class="fa-regular fa-bookmark icona"></i>
            </a>
        </div>
        <div  id = "add" class = "side_icon">
            <a class = "hr" href = "{% url 'addpost' %}">
                <i class="fa-sharp fa-solid fa-plus icona"></i>
            </a>
        </div>
        <div  id = "f" class = "side_icon">
            <a class = "hr" href = "{% url 'findfriend' %}">
                <i class="fa-solid fa-magnifying-glass icona"></i>
            </a>
        </div>
    </div>
</div>
<div class = "main">
    {% block content %}
    {% endblock %}
</div>r=

<script src="{% static '/js/script.js' %}"></script>
<script src="https://kit.fontawesome.com/a5b3356b6d.js" crossorigin="anonymous"></script>

</body>
</html>
