{% extends 'base.html' %}

{% block title %}Закладки{% endblock %}

{% block content %}
<div class = "main_page">
<div class="post-box">
        <div class="post-header">
          <h2 class="post-name">Название</h2>
          <p class="post-author">Автор</p>
        </div>

        <div class="text-wrap">
          <div class="post-text">Текс</div>
          <i class="fa-regular fa-bookmark post-bookmark"></i>
        </div>

        <div class="post-image"></div>
      </div>
</div>
{% endblock %}
