{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static '/css/main_page.css' %}">
    <link rel="stylesheet" href="{% static '/css/post_template.css' %}">
{% endblock %}
{% block title %}Закладки{% endblock %}
{% block content %}
    <div class="main_page">
        <div class = "main_page_post">
            <div class="post-box">
                <div class="post-header">
                    <div class="btn_box_post">
                    <a class="round heart" href="#" title="Понравилось"></a>
                    <a class="round open" href="/post/{{post.id}}" title="Открыть полностью"><div class="arrow"></div><div class="arrow_diff"></div></a>
                    <a class="round zakladka" href="#" title="В закладки"></a>
                    </div>
                    <a class = "post-author" href="/profile/{{post.author.id}}">{{post.author}}</a>
                </div>

                <div class="text-wrap">
                    <div class="post-text">{{ post.content }}</div>
                </div>

                {% if post.photo %}
                    <img src="{{ post.photo.url }}" class="post-image">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}