{% extends 'base.html' %}

{% block title %}Мессенджер{% endblock %}

{% block content %}

<div class="messenger_box" id="messenger_box">
    <h2 style="text-align:center;"> Личные сообщения </h2>
    <div class="ur_friend" >
        <img src="https://kartinkin.net/uploads/posts/2022-09/1662466112_48-kartinkin-net-p-tailer-derden-art-instagram-48.jpg" class="friend-user-pic">
        <p>Тайлер Дерден</p>
    </div>

<div class="message">


    <div class="chat_texts">
    <div class="timestamp"><h2>Тайлер Дерден</h2><p class="time">12 : 50</p></div>
    <h3> Аварийный выход на высоте 30 тысяч футов. Иллюзия безопасности. </h3>
    </div>

</div>

<div class="message_own">


    <div class="chat_texts">
        <div class="timestamp"><p class="time">12 : 59</p><h2>Расскащик ( Вы )</h2></div>
    <h3>Да, пожалуй</h3>
    </div>

</div>

    <div class="message">


    <div class="chat_texts">
        <div class="timestamp"><h2>Тайлер Дерден</h2><p class="time">12 : 59</p></div>
    <h3>Знаете для чего кислородные маски?</h3>
    </div>

</div>

    <div class="message_own">


    <div class="chat_texts">
        <div class="timestamp"><p class="time">12 : 59</p><h2>Расскащик ( Вы )</h2></div>
    <h3>Чтобы дышать.</h3>
    </div>

</div>

    <div class="message">


    <div class="chat_texts">
    <div class="timestamp"><h2>Тайлер Дерден</h2><p class="time">12 : 50</p></div>
    <h3>Кислород опьяняет. В катастрофических ситуациях вы впадаете в панику и вдруг эйфория, покой, и вы смиряетесь. Вот рисунок. Аварийное приводнение, а на лицах безмятежность, как у коров в Индии.</h3>
    </div>

</div>
<div class="input-area-mess">
 <textarea placeholder="Введите сообщение" class="message_area"></textarea>
 <button class="btn_message">Отправить</button>
</div>
</div>

{% endblock %}