{% extends 'base.html' %}

{% block title %}Мессенджер{% endblock %}

{% block content %}

<div class="messenger_box">
    <h2 style="text-align:center;"> Личные сообщения </h2>
<div class="message">

    <img class="chat-user-pic" src="https://i.pinimg.com/236x/66/1e/ce/661ece4c9340138ac3a170db0d86f25f.jpg">
    <div class="chat_texts">
    <h2>Аноним Анонимович</h2>
    <h3> Сообщение </h3>
    </div>

</div>

<div class="message_own">

    <img class="chat-user-pic" src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-images/be1ff55076e311e98bc52d654e80e4ac.jpg">
    <div class="chat_texts">
    <h2>Тони Старк</h2>
    <h3>Го в сиквел ?</h3>
    </div>

</div>
</div>

{% endblock %}