{% extends 'base.html' %}

{% block title %}Посты{% endblock %}

{% block content %}
<div class = "post-box">
	<div class = "post-header">
		<h2 class = "post-name"></h2>
		<a href="{{ post.author.link }}"" class = "post-author">{{ post.author.name }}</a>
	</div>

	<div class = "text-wrap">
		<p class = "post-text"> {{ post.content }} </p>
		<div class = "img-marks"></div>
	</div>

	<div class = "post-image"></div>
</div>

{% for comment in comments %}
<div style="background-color: #fff;">
	<p>{{ comment.author }}</p>
	<p>{{ comment.content }}</p>
</div>

{% endfor %}
</div>
{% endblock %}

