{% extends 'base.html' %}

{% block title %}Страница профиля{% endblock %}

{% block content %}
<!--<div class="content_for_profile"> -->
<div class="profile_box">
    <div class="main_cont_box">
    <div class = "main_page_for_prf">
		<div class = "post-box">
	<div class = "post-header">
		<h2 class = "post-name">Название</h2>
		<p class = "post-author">Никнейм</p>
	</div>

	<div class = "text-wrap">
		<p class = "post-text"> Текс </p>
		<div class = "img-marks"></div>
	</div>

	<div class = "post-image"></div>
   </div></div></div>
    <div class="profile-card">
        <img src="{{ profile.avatar.url }}" class="profile-pic">

        <h3 class = "user-nickname">Имя: {{ profile.name }}#{{ profile.id }}</h3>
        <p class = "user-nickname">Фамилия: {{ profile.surname }}</p>
        <p class = "user-info">About user</p>
        <p class = "user-nickname">Мне нравится: {{ profile.hobby }}</p>
        <button class="btn_add" style="width:250px; margin-left:80px;">Написать</button>
        <button class="btn_add" style="width:250px; margin-left:80px; margin-top: 10px; margin-bottom:10px;">Добавить в друзья</button>
        <button class="btn_add" style="width:250px; margin-left:80px;">Подробнее</button>
    </div>
    <div class="profile-card-more">
        <p class = "user-nickname">Город: {{ profile.city }}</p>
        <p class = "user-nickname">Образование: {{ profile.education }}</p>
        <p class = "user-nickname">Компания: {{ profile.company }}}</p>
    </div>
</div>

{% endblock %}

