{% extends 'base.html' %}

{% block title %}Страница профиля{% endblock %}

{% block content %}
<div class="content">
    <div class="profile-card" style="color:#fff">
        <span>ID: {{ profile.id }}</span><br>
        <span>Имя: {{ profile.name }}</span><br>
        <span>Фамилия: {{ profile.surname }}</span><br>
        <span>Статус: {{ profile.about }}</span><br>
        <span>Страна: {{ profile.country }}</span><br>
        <span>Город: {{ profile.city }}</span><br>
        <span>Образование: {{ profile.education }}</span><br>
        <span>Компания: {{ profile.company }}</span><br>
        <span>Мне нравится: {{ profile.hobby }}</span><br>
    </div>
</div>
{% endblock %}
