{% extends 'base.html' %}

{% block title %}Настройки{% endblock %}

{% block content %}
<div>
    <div class = "main_page">
        <div style = "margin:80px">
            <a href="{% url 'set-prof' %}" class="setting-btn">Настройки профиля</a><br>
        </div>
        <div style = "margin:80px">
            <a href="{% url 'reg' %}" class="setting-btn">Сменить профиль</a><br>
        </div>
        <div style = "margin:80px">
            <a href="" class="setting-btn">Выход</a><br>
        </div>
    </div>
</div>
{% endblock %}