{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static '/css/find_friends.css' %}">{% endblock %}
{% block title %}Настройки{% endblock %}

{% block content %}
    <div class="profile_box">
        <img src="{{ profile.avatar.url }}" class="profile-pic" />
        <h3 class="user-nickname">Имя: {{ profile.name }} </h3>
        <p class="user-nickname">Фамилия: {{ profile.surname }}</p>
        <p class="user-info">About user <br> {{ profile.about }} </p>
        <p class="user-nickname">Мне нравится: {{ profile.hobby }}</p>
        <p class="user-nickname">Город: {{ profile.city }}</p>
        <p class="user-nickname">Образование: {{ profile.education }}</p>
        <p class="user-nickname">Компания: {{ profile.company }}}</p>
        <button class="btn_profile">Изменить</button>
    </div>
{% endblock %}